.titleGrid {
  display: grid;
  grid-template-columns: 256px auto;
  grid-template-rows: auto;
  grid-column-gap: 1rem;
  margin-bottom: 1rem;
}

.titleImage {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
}

.titleText {
  grid-column-start: 2;
  grid-row-start: 1;
}

@media (max-width: 600px) {
  .titleGrid {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    grid-row-gap: 1rem;
    margin-bottom: 1rem;
  }

  .titleImage {
    grid-column-start: 1;
    grid-row-start: 2;
    padding: 1em;
  }

  .titleText {
    grid-column-start: 1;
    grid-row-start: 1;
    grid-row-end: 2;
  }
}
